columns:
  - name: Country
    type: string
    label: key
  - name: 1961..2017
    type: number
    label: range
    modifier: many
  - name: Earliest
    type: number
    label: special
  - name: MostRecent
    type: number
    label: special
groups:
  - name: South Africa
    anchor: South Africa
    dataseries:
    - name: Crop Production
      category: Agricultural
      type: dyadic
      location: ${PATH_TO_DATA_FOLDER}/SeriesAGCropProductionFAO.csv
      metadata:
        units: Tonnes
    - name: Cereals Export
      category: Agricultural
      type: monadic
      location: ${PATH_TO_DATA_FOLDER}/SeriesAGCerealsEx.csv
      metadata:
        units: Millions of Tonnes
  - name: Uganda
    anchor: Uganda
    dataseries:
    - name: Crop Production
      category: Agricultural
      location: ...