columns:
  - name: Country
    type: string
    label: key
  - name: 1961..2017
    type: number
    label: range
    modifier: many
  - name: Earliest
    type: number
    label: special
  - name: MostRecent
    type: number
    label: special
template:
  path: ./data/MasterData.csv
  columns:
    - Country
    - Group
    - Variable
    - Definition
    - Years
    - Units
    - Source
  dataseries:
    name: "{Variable}"
    category: "{Group}"
    group: "{Country}"
    type: "monadic"
    location: "./data/{Country}/{Country}_{Variable}.csv"
    metadata:
      description: "{Definition}"
      unit: "{Units}"
      source: "{Source}"